*slurm*out
slurm/slurm*out
.snakemake/
inputs/adapters.fa
inputs/cat/
inputs/gather_databases/
inputs/hmp/
inputs/host/
inputs/raw/
outputs/
sandbox/Rplots.pdf
sandbox/comp_jaccard_all/
sandbox/ibd_filt_rf.RDS
sandbox/ibd_novalidation_filt.csv
sandbox/ibd_novalidation_filt_diagnosis.txt
sandbox/ibd_validation_filt.csv
sandbox/ibd_vita.RDS
sandbox/long_ibd.csv
sandbox/wide_ibd.csv.gz
sandbox/wide_ibd2.csv.gz
sandbox/wide_ibd_labels.txt
aggregated_checkpoints/
sandbox/genbank-k21.lca.json.gz
sandbox/genbank-k31.lca.json.gz
sandbox/jellyfish/
sandbox/test_megahit/
sandbox/test_pangenome_hash_tbl/
size_input.txt
docs/20*pdf
docs/papers
docs/project.md
docs/r03.md
inputs/eggnog_db/
inputs/kofamscan/ko_list
inputs/kofamscan/profiles.tar.gz
inputs/kofamscan/profiles/
inputs/orpheum_index/
inputs/singlem/
*sig
*fa
*fasta
*.fa.gz
*.fasta.gz
*vita*vars*tsv
sandbox/20200914_dag.txt
sandbox/20200914_dag_small.txt
sandbox/20210803_sandbox_sizes.txt
sandbox/20211025_file_sizes_sandbox.txt
sandbox/20211113_sandbox_sizes.txt
sandbox/20211216_sandbox_sizes.txt
sandbox/41genomes/
sandbox/at_least_5_studies_vita_vars_gather_all.csv
sandbox/cdbg_ids_reads_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic.cdbg_ids.reads.comp
sandbox/cdbg_ids_reads_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic.cdbg_ids.reads.comp.csv
sandbox/cdbg_ids_reads_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic.cdbg_ids.reads.comp.csv.labels.txt
sandbox/cdbg_ids_reads_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic.cdbg_ids.reads.comp.dendro.pdf
sandbox/cdbg_ids_reads_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic.cdbg_ids.reads.comp.hist.pdf
sandbox/cdbg_ids_reads_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic.cdbg_ids.reads.comp.labels.txt
sandbox/cdbg_ids_reads_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic.cdbg_ids.reads.comp.matrix.pdf
sandbox/cdbg_ids_reads_comp/SRS1719498_9.cdbg_ids.reads.comp
sandbox/cdbg_ids_reads_comp/SRS1719498_9.cdbg_ids.reads.comp.csv
sandbox/cdbg_ids_reads_comp/SRS1719498_9.cdbg_ids.reads.comp.csv.labels.txt
sandbox/cdbg_ids_reads_comp/SRS1719498_9.cdbg_ids.reads.comp.dendro.pdf
sandbox/cdbg_ids_reads_comp/SRS1719498_9.cdbg_ids.reads.comp.hist.pdf
sandbox/cdbg_ids_reads_comp/SRS1719498_9.cdbg_ids.reads.comp.labels.txt
sandbox/cdbg_ids_reads_comp/SRS1719498_9.cdbg_ids.reads.comp.matrix.pdf
sandbox/cdbg_ids_reads_comp/SRS1719577_6.cdbg_ids.reads.comp
sandbox/cdbg_ids_reads_comp/SRS1719577_6.cdbg_ids.reads.comp.csv
sandbox/cdbg_ids_reads_comp/SRS1719577_6.cdbg_ids.reads.comp.csv.labels.txt
sandbox/cdbg_ids_reads_comp/SRS1719577_6.cdbg_ids.reads.comp.dendro.pdf
sandbox/cdbg_ids_reads_comp/SRS1719577_6.cdbg_ids.reads.comp.hist.pdf
sandbox/cdbg_ids_reads_comp/SRS1719577_6.cdbg_ids.reads.comp.labels.txt
sandbox/cdbg_ids_reads_comp/SRS1719577_6.cdbg_ids.reads.comp.matrix.pdf
sandbox/delete_files/keep_abundtrim.txt
sandbox/delete_files/keep_bbduk.txt
sandbox/delete_files/keep_cat.txt
sandbox/delete_files/keep_cut.txt
sandbox/delete_files/keep_trim.txt
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp.csv
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp.dendro.pdf
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp.hist.pdf
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp.labels.txt
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp.matrix.pdf
sandbox/sgc_genome_queries_diginorm_compare/
sandbox/sgc_genome_queries_hardtrim_compare/
sandbox/sgc_genome_queries_orpheum_species_comp/
sandbox/test_corncob_dda/corncob_results_all_ccs.tsv
sandbox/test_corncob_dda/corncob_results_sig_ccs.tsv
sandbox/test_corncob_dda/corncob_results_sig_ccs_annotated.tsv
sandbox/test_corncob_dda/corncob_results_sig_ccs_annotated_no_cdbg.tsv
sandbox/test_corncob_dda/corncob_results_sig_ccs_annotated_roary_isolates_and_megahit.tsv
sandbox/test_corncob_dda/corncob_results_sig_ccs_annotated_roary_isolates_and_megahit_no_cdbg.tsv
sandbox/test_corncob_dda/rgnv_nbhd_catlas_diginorm_hardtrim_piece_size_k31_r10_abund.tsv
sandbox/test_corncob_dda/rgnv_nbhd_catlas_diginorm_hardtrim_piece_size_k31_r10_abund_pruned.tsv
sandbox/test_corncob_dda/rgnv_nbhd_catlas_diginorm_hardtrim_piece_size_k31_r10_dom_info.tsv
sandbox/test_corncob_dda/tmp_shortest_path_duplicate_KEGG_kos.csv
sandbox/test_gather_lineage_summarize/all_genbank_lineages.csv
sandbox/test_gather_lineage_summarize/combined_genbank_results.csv
sandbox/test_gather_lineage_summarize/gtdb-rs202-genbank-protozoa-viral-fungi-lineage.csv
sandbox/test_gather_lineage_summarize/gtdb-rs202.taxonomy_cut.csv
sandbox/test_gather_lineage_summarize/gtdb-rs202.taxonomy_cut_acc.csv
sandbox/test_gather_lineage_summarize/protozoa_fungi_viral_genbank_lineage.csv
sandbox/test_megahit_diginorm_cat/
sandbox/test_megahit_diginorm_nocat/bwa_cdhit_nbhd_reads/
sandbox/test_megahit_diginorm_nocat/cat_prokka/
sandbox/test_megahit_diginorm_nocat/cdhit/
sandbox/test_megahit_diginorm_nocat/checkm/
sandbox/test_megahit_diginorm_nocat/corncob/
sandbox/test_megahit_diginorm_nocat/corncob_env_versions.txt
sandbox/test_megahit_diginorm_nocat/corncob_old/
sandbox/test_megahit_diginorm_nocat/dryrun4.txt
sandbox/test_megahit_diginorm_nocat/eggnog/
sandbox/test_megahit_diginorm_nocat/files.txt
sandbox/test_megahit_diginorm_nocat/gene_rf/
sandbox/test_megahit_diginorm_nocat/gene_rf_w_singlem/
sandbox/test_megahit_diginorm_nocat/megahit_gather/
sandbox/test_megahit_diginorm_nocat/megahit_sigs/
sandbox/test_megahit_diginorm_nocat/prokka/
sandbox/test_megahit_diginorm_nocat/prokka_gff_renamed/
sandbox/test_megahit_diginorm_nocat/salmon_cdhit/
sandbox/test_megahit_diginorm_nocat/salmon_index/
sandbox/test_megahit_diginorm_nocat/sandbox/checkm/
sandbox/test_megahit_diginorm_nocat/sandbox/checkm_ERS396297_11/
sandbox/test_megahit_diginorm_nocat/sandbox/checkm_GCF_900036035.1_RGNV35913_genomic.fna/
sandbox/test_megahit_diginorm_nocat/sandbox/gtdbtk/
sandbox/test_megahit_diginorm_nocat/sandbox/megahit_gather/
sandbox/test_megahit_diginorm_nocat/sandbox/multiqc/
sandbox/test_megahit_diginorm_nocat/sandbox/multiqc_bwa_cdhit_diginorm/
sandbox/test_megahit_diginorm_nocat/sandbox/multiqc_bwa_cdhit_nbhd_reads/
sandbox/test_megahit_diginorm_nocat/sandbox/multiqc_cdhit/
sandbox/test_megahit_diginorm_nocat/sandbox/pangenome_assemblies/
sandbox/test_megahit_diginorm_nocat/sandbox/try_motus/failed.txt
sandbox/test_megahit_diginorm_nocat/sandbox/try_motus/failed/
sandbox/test_megahit_diginorm_nocat/sandbox/try_motus/map_snv_out/
sandbox/test_megahit_diginorm_nocat/sandbox/try_motus/snv_call_out/
sandbox/test_megahit_diginorm_nocat/sandbox/try_motus/snv_call_out2/
sandbox/test_megahit_diginorm_nocat/sandbox/try_motus/snv_call_out3/
sandbox/test_megahit_diginorm_nocat/sandbox/try_strainphlan/
sandbox/test_megahit_diginorm_nocat/species_plots/
sandbox/test_megahit_diginorm_nocat/tximport/
sandbox/test_roary/GCF_008121495.1_genomic.fna.gz
sandbox/test_roary/GCF_008121495.1_genomic_prefetch.csv
sandbox/test_roary/GCF_008121495.1_genomic_prefetch_filtered.csv
sandbox/test_roary/coding_bp.txt
sandbox/test_roary/genbank_genomes/
sandbox/test_roary/genome_bp.txt
sandbox/test_sgc_dominator_abund/sgc_nbhd_rgnv_r10/
sandbox/test_sgc_dominator_abund/sgc_nbhd_rgnv_r5/
sandbox/test_sgc_dominator_abund/sgc_nbhd_rgnv_r8/
sandbox/test_sgc_dominator_abund/try_preprocess_diginorm_trim_low_abund/
unfinished.txt
*.DS_Store
.Rhistory
*.ipynb_checkpoints
sandbox/02_filt_comp_all/all_filt_comp.csv
sandbox/02_filt_comp_all/comp_all_jaccard.csv
sandbox/02_filt_comp_all/diag_comp_plt.pdf
sandbox/02_filt_comp_all/diag_cosine_comp_plt.pdf
sandbox/02_filt_comp_all/minhash-comp-plts-all.pdf
sandbox/02_filt_comp_all/study_comp_plt.pdf
sandbox/02_filt_comp_all/study_cosine_comp_plt.pdf
sandbox/02_filt_comp_nonhmp/filt_comp_all.csv
sandbox/02_filt_comp_nonhmp/filt_comp_diagnosis_marginal.pdf
sandbox/02_filt_comp_nonhmp/filt_comp_study.pdf
sandbox/02_filt_comp_nonhmp/filt_comp_study_marginal.pdf
sandbox/41genome_sigs/
sandbox/41pangenomes/
sandbox/cdbg_ids_reads_comp/tsne_SRS1719498_9.pdf
sandbox/checkm_pangenomes/
sandbox/explore_truncated_files.xlsx
sandbox/greater_than_one_count_hashes_k21.txt
sandbox/gtdbtk_41_genomes/
sandbox/hash_corncob/ERS537353_12_cd_down_hashes.txt
sandbox/hash_corncob/ERS537353_12_cd_up_hashes.txt
sandbox/hash_corncob/ERS537353_12_uc_down_hashes.txt
sandbox/hash_corncob/ERS537353_12_uc_up_hashes.txt
sandbox/hash_corncob/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_down_hashes.txt
sandbox/hash_corncob/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_up_hashes.txt
sandbox/hash_corncob/GCF_000508885.1_ASM50888v1_genomic_cd_down_hashes.txt
sandbox/hash_corncob/GCF_000508885.1_ASM50888v1_genomic_cd_up_hashes.txt
sandbox/hash_corncob/GCF_000508885.1_ASM50888v1_genomic_uc_down_hashes.txt
sandbox/hash_corncob/GCF_000508885.1_ASM50888v1_genomic_uc_up_hashes.txt
sandbox/hash_corncob/GCF_900036035.1_RGNV35913_genomic_cd_down_hashes.txt
sandbox/hash_corncob/GCF_900036035.1_RGNV35913_genomic_cd_up_hashes.txt
sandbox/hash_corncob/all_ccs_hashes.tsv
sandbox/hash_corncob/comp
sandbox/hash_corncob/comp.csv
sandbox/hash_corncob/comp.dendro.pdf
sandbox/hash_corncob/comp.dendro.png
sandbox/hash_corncob/comp.hist.pdf
sandbox/hash_corncob/comp.hist.png
sandbox/hash_corncob/comp.labels.txt
sandbox/hash_corncob/comp.matrix.pdf
sandbox/hash_corncob/comp.matrix.png
sandbox/hash_corncob/containment_commands.txt
sandbox/hash_corncob/gather_containment_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_up_hashes_matches_comp
sandbox/hash_corncob/gather_containment_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_up_hashes_matches_comp.csv
sandbox/hash_corncob/gather_containment_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_up_hashes_matches_comp.dendro.pdf
sandbox/hash_corncob/gather_containment_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_up_hashes_matches_comp.hist.pdf
sandbox/hash_corncob/gather_containment_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_up_hashes_matches_comp.labels.txt
sandbox/hash_corncob/gather_containment_comp/GCF_000371685.1_Clos_bolt_90B3_V1_genomic_cd_up_hashes_matches_comp.matrix.pdf
sandbox/hash_corncob/gather_containment_comp/GCF_900036035.1_RGNV35913_genomic_cd_up_hashes_matches_comp
sandbox/hash_corncob/gather_containment_comp/GCF_900036035.1_RGNV35913_genomic_cd_up_hashes_matches_comp.csv
sandbox/hash_corncob/gather_containment_comp/GCF_900036035.1_RGNV35913_genomic_cd_up_hashes_matches_comp.dendro.pdf
sandbox/hash_corncob/gather_containment_comp/GCF_900036035.1_RGNV35913_genomic_cd_up_hashes_matches_comp.hist.pdf
sandbox/hash_corncob/gather_containment_comp/GCF_900036035.1_RGNV35913_genomic_cd_up_hashes_matches_comp.labels.txt
sandbox/hash_corncob/gather_containment_comp/GCF_900036035.1_RGNV35913_genomic_cd_up_hashes_matches_comp.matrix.pdf
sandbox/hash_corncob/gather_containment_genome_alignment/c_bolt/
sandbox/hash_corncob/gather_containment_genome_alignment/rgnv/
sandbox/hash_corncob/sig_ccs_hashes.tsv
sandbox/hmp_humann2_logs/*log
sandbox/hmp_humann2_logs/perc_aligned_humann2.pdf
sandbox/hmp_humann2_logs/urls.txt
sandbox/human_contam_file_sizes/file_sizes_bbduk.txt
sandbox/human_contam_file_sizes/file_sizes_raw.txt
sandbox/human_contam_file_sizes/file_sizes_trim.txt
sandbox/human_contam_file_sizes/iHMP_106_samples.txt
sandbox/human_contam_file_sizes/ihmp_contamination.tsv
sandbox/ihmp_mgx_comp_plt.pdf
sandbox/ihmp_perc_mapped.pdf
sandbox/rgnv_blast/
sandbox/rgnv_sgc_original_results/sourmash/Rplot.png
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp.pheatmap.pdf
sandbox/rgnv_sgc_original_results/sourmash/rgnv_k31_scaled2000.comp.pheatmap.png
sandbox/test_charcoal/lineages.csv
sandbox/test_charcoal/output.genbank_genomes/
sandbox/test_megahit_diginorm_nocat/sandbox/blast_against_minot_willis/IBD-associated-genes.fastp
sandbox/test_megahit_diginorm_nocat/sandbox/blast_against_minot_willis/cbolt-ibd.tab
sandbox/test_megahit_diginorm_nocat/sandbox/blast_against_minot_willis/rgvn-ibd.tab
sandbox/test_megahit_diginorm_nocat/sandbox/cbolt_gene_pa_heatmap.png
sandbox/test_megahit_diginorm_nocat/sandbox/cbolt_gene_pa_heatmap_thresh3.png
sandbox/test_megahit_diginorm_nocat/sandbox/comp_flavonifractor/
sandbox/test_megahit_diginorm_nocat/sandbox/comp_hashes_to_assemblies/
sandbox/test_megahit_diginorm_nocat/sandbox/dag.png
sandbox/test_megahit_diginorm_nocat/sandbox/doi_10.1101_gr.138198.12_S4.csv
sandbox/test_megahit_diginorm_nocat/sandbox/doi_10.1101_gr.138198.12_S4.xlsx
sandbox/test_megahit_diginorm_nocat/sandbox/multiqc_cdhit_samtools_flagstat.txt
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/GCF_900036035.1_RGNV35913_genomic.fna.cdhit.faa
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/GCF_900036035.1_RGNV35913_genomic.fna.cdhit.ffn
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/GCF_900036035.1_RGNV35913_genomic.fna.cdhit.ffn.fai
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/PA98Y4VC114-Alignment-HitTable.csv
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/best_match_seqnames.txt
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/best_match_sequences.ffn
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/extract_best_match_sequences
sandbox/test_megahit_diginorm_nocat/sandbox/r_gnavus_operon_comparison/pnas.1904099116.sd02.xlsx
sandbox/test_megahit_diginorm_nocat/sandbox/rgnavus_strainphlan_tree.pdf
sandbox/test_megahit_diginorm_nocat/sandbox/rgnv_gene_pa_heatmap_thresh0.png
sandbox/test_megahit_diginorm_nocat/sandbox/rgnv_gene_pa_heatmap_thresh3.png
sandbox/test_megahit_diginorm_nocat/sandbox/rgnv_heatmap_pa_thresh10.png
sandbox/test_megahit_diginorm_nocat/sandbox/try_strainplan/output/
sandbox/test_megahit_diginorm_nocat/sandbox/try_strainplan/output_lax/
sandbox/test_sgc_dominator_abund/sgc_nbhd_rgnv/
sandbox/try_diffex/mqc_fastp_filtered_reads_plot_1.txt
sandbox/try_diffex/multiqc_report.html
sandbox/var_imp_genome_plot/vita_hash_to_129_genome_mapping.csv
sandbox/var_imp_genome_plot/vita_vars.txt
sandbox/vita_var_vs_sgc_merged.csv
sandbox/wgcna/brief_write_up.txt
