*slurm*out
slurm/slurm*out
.snakemake/
inputs/adapters.fa
inputs/cat/
inputs/gather_databases/
inputs/hmp/
inputs/host/
inputs/raw/
outputs/
sandbox/Rplots.pdf
sandbox/comp_jaccard_all/
sandbox/ibd_filt_rf.RDS
sandbox/ibd_novalidation_filt.csv
sandbox/ibd_novalidation_filt_diagnosis.txt
sandbox/ibd_validation_filt.csv
sandbox/ibd_vita.RDS
sandbox/long_ibd.csv
sandbox/wide_ibd.csv.gz
sandbox/wide_ibd2.csv.gz
sandbox/wide_ibd_labels.txt
aggregated_checkpoints/
sandbox/genbank-k21.lca.json.gz
sandbox/genbank-k31.lca.json.gz
sandbox/jellyfish/
sandbox/test_megahit/
sandbox/test_pangenome_hash_tbl/
size_input.txt
docs/20*pdf
docs/papers
docs/project.md
docs/r03.md
